# Ignore everything first
/*

# Exclude top level required files and dirs
!/.gitignore
!/*.uproject
!/Source
!/Binaries
!/Content
!/Config
!/Plugins

# Ignore everything in Binaries but editor dlls, pdbs, target and module
Binaries/**/*
!Binaries/Win64
!*.dll
!*.pdb
!*.modules
!*.target

